---
permalink: /nl/
title: Websites abonnementen
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div>
			<h1>Een maandelijks abonnement voor al uw website taken.</h1>
			<p><strong>Inclusief</strong><br> ontwerp • ontwikkeling • inhoudsupdates • onderhoud • technische ondersteuning</p>
			<a href="mailto:hello@apleasantview.com">Meer informatie aanvragen</a>
		</div>
	</section>
	<section>
		<div>
			<h2>Start vandaag uw website project</h2>
			<dl>
				<div>
					<dt>Plan uw project meeting</dt>
					<dd>We bespreken uw wensen en hoe we daaraan kunnen voldoen.</dd>
				</div>
				<div>
					<dt>Activeer uw abonnement</dt>
					<dd>Ontvang een projectoverzicht en een betaallink om uw abonnement te activeren.</dd>
				</div>
				<div>
					<dt>Volg uw project</dt>
					<dd>Krijg toegang tot uw persoonlijke projectbord en volg de voortgang.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<a href="mailto:hello@apleasantview.com">Neem nu contact op.</a>
		</div>
	</section>
{% endblock %}
