<div class="c-footer-nav">
	{% for item in navigation[lang].footer %}
		{% for node, entry in _navigator.nodes %}
		{% if entry.slug === item.slug and entry.lang === lang %}
			<a href="{{ entry.url }}">{{ item.label }}</a>
		{% endif %}
		{% endfor %}
	{% endfor %}
</div>
