/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	--flow-space: var(--flow-space-m);
	letter-spacing: 0.02em;
}

h1 {
	font-size: var(--text-size-title);
	font-weight: var(--text-weight-semibold);
}

h2 {
	font-size: var(--text-size-body);
	font-weight: var(--text-weight-semibold);
}

h3 {
	font-size: var(--text-size-body);
	font-weight: var(--text-weight-medium);
}
