.c-footer-nav {
	display: flex;
	gap: var(--space-2xs);
	flex-wrap: wrap;
	align-items: flex-start;
	padding-block-start: var(--space-inset-2xs);
	border-top: 1px solid var(--color-border-strong);
}

.c-footer-nav a {
	margin-top: 0;
	border: 1px solid transparent;
	padding-inline: 0.5em;
}

.c-footer-nav a[aria-current='page'] {
	border-color: var(--color-text-muted);
	border-radius: 4px;
}
