.c-language-switcher {
	padding: 0;
}

div.c-language-switcher__inner {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

a.c-language-switcher__item {
	margin-top: 0;
	color: light-dark(hsl(220, 37%, 32%), hsl(220, 53%, 97%));
}
