.c-language-switcher {
	padding-top: var(--space-s);
	padding-bottom: var(--space-s);
}

div.c-language-switcher__inner {
	padding-inline: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	gap: var(--space-s);
	transform: translateX(-0.25em);
}

a.c-language-switcher__item {
	margin-top: 0;
	color: light-dark(hsl(220, 37%, 32%), hsl(220, 53%, 97%));
	border: 0.25em solid transparent;
	transition: all 0.3s ease-out;
	font-size: var(--step--1)
}

a.c-language-switcher__item:hover {
	background-color: light-dark(hsl(220 37% 32% / 0.075), hsl(220 53% 97% / 0.1));
}
