.c-logo-container {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-inline: var(--space-s-xl);
	height: fit-content;
	backdrop-filter: blur(4px);
}

.c-logo-container__link {
	display: block;
	padding-top: var(--space-m);
	padding-bottom: var(--space-s);
	max-width: 420px;
}

