.c-nav-footer {
	margin: 0;
	padding: 0;
	display: flex;
	gap: var(--space-2xs);
	flex-wrap: wrap;
	align-items: flex-start;
	padding-block-start: var(--space-inset-2xs);

	li {
		margin: 0;
	}
}

.c-nav-footer a {
	margin-top: 0;
	border: 1px solid transparent;
	padding-inline: 0.5em;
	font-size: var(--text-size-secondary);
}

.c-nav-footer a[aria-current='page'] {
	border-color: var(--color-text-muted);
	border-radius: 4px;
}
