.c-nav-site {
	display: flex;
	gap: var(--space-xs);
	row-gap: var(--space-2xs);
	flex-wrap: wrap;
	align-items: flex-start;
	padding-block: var(--space-inset-3xs);

	@media (width >768px) {
		margin-block-start: var(--space-3xs);
	}
}

.c-nav-site a {
	margin-top: 0;
	border: 1px solid transparent;
	font-size: var(--text-size-body);
}

.c-nav-site a[aria-current='page'] {
	background-color: var(--color-surface-hover);
	border-bottom-color: transparent;
	border-radius: 4px;
}
