.c-pricing-table {
	padding-top: var(--space-s);
	padding-bottom: var(--space-s);
	margin-top: var(--space-stack-card);
}

.c-pricing-table__inner {
	display: grid;
	gap: var(--space-cluster-card);
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.c-pricing-table__card {
	padding: var(--space-s-m);
	border: var(--border-width-default) solid var(--color-border-default);
	border-radius: var(--border-radius-card);
	height: auto;
	background-color: var(--color-slate-200-alpha-08);
	max-width: 45ch;
}

.c-pricing-table__card h3 {
	margin: 0;
}

.c-pricing-table__card p {
	text-wrap: initial;
}

.c-pricing-table__card * + p {
	margin-top: var(--space-m);
}

@media (min-width: 768px) {
	.c-pricing-table__inner {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
