---
permalink: /fr/
title: Abonnements pour sites web
description: Abonnement mensuel pour toutes les tâches de votre site Web.
translationKey: homepage
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div class="u-wrapper">
			<p>Lancez votre projet numérique dès aujourd'hui.</p>
			<p>Nous offrons des services numériques aux entreprises et agences d'Amsterdam West et du Jordaan.</p>
			<div>
				<a href="mailto:hello@apleasantview.com">Demande d'informations</a>
			</div>
		</div>
	</section>
{% endblock %}
