---
permalink: /fr/
title: Abonnements pour sites web
description: Abonnement mensuel pour toutes les tâches de votre site Web.
translationKey: homepage
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div>
			<h1>Un abonnement mensuel pour toutes les tâches de votre site Web.</h1>
			<p><strong>Comprend</strong><br> design • développement • mises à jour du contenu • maintenance • support technique</p>
			<a href="mailto:hello@apleasantview.com">Demande d'informations</a>
		</div>
	</section>
{% endblock %}
