/* @link https://utopia.fyi/space/calculator?c=330,18,1.2,1920,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|5|6,s-l|s-xl|s-3xl&g=s,3xl,4xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.2995rem + 0.0629vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.5236rem + 0.1887vw, 0.75rem);
  --space-xs: clamp(0.875rem, 0.8231rem + 0.2516vw, 1.125rem);
  --space-s: clamp(1.125rem, 1.0472rem + 0.3774vw, 1.5rem);
  --space-m: clamp(1.6875rem, 1.5708rem + 0.566vw, 2.25rem);
  --space-l: clamp(2.25rem, 2.0943rem + 0.7547vw, 3rem);
  --space-xl: clamp(3.375rem, 3.1415rem + 1.1321vw, 4.5rem);
  --space-2xl: clamp(4.5rem, 4.1887rem + 1.5094vw, 6rem);
  --space-3xl: clamp(5.625rem, 5.2358rem + 1.8868vw, 7.5rem);
  --space-4xl: clamp(6.75rem, 6.283rem + 2.2642vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2217rem + 0.4403vw, 0.75rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4458rem + 0.566vw, 1.125rem);
  --space-xs-s: clamp(0.875rem, 0.7453rem + 0.6289vw, 1.5rem);
  --space-s-m: clamp(1.125rem, 0.8915rem + 1.1321vw, 2.25rem);
  --space-m-l: clamp(1.6875rem, 1.4151rem + 1.3208vw, 3rem);
  --space-l-xl: clamp(2.25rem, 1.783rem + 2.2642vw, 4.5rem);
  --space-xl-2xl: clamp(3.375rem, 2.8302rem + 2.6415vw, 6rem);
  --space-2xl-3xl: clamp(4.5rem, 3.8774rem + 3.0189vw, 7.5rem);
  --space-3xl-4xl: clamp(5.625rem, 4.9245rem + 3.3962vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.7358rem + 1.8868vw, 3rem);
  --space-s-xl: clamp(1.125rem, 0.4245rem + 3.3962vw, 4.5rem);
  --space-s-3xl: clamp(1.125rem, -0.1981rem + 6.4151vw, 7.5rem);
}
