<!DOCTYPE html>
<html lang="{{ language | default(site.defaultLanguage) }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | a pleasant view</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<script defer data-domain="apleasantview.com" src="https://plausible.io/js/script.js"></script>
	<link rel="canonical" href="{{ permalink }}">
	{%- for item in collections.translations[translationKey] %}
	<link rel="alternate" hreflang="{{ item.language}}" href="{{ item.url }}">
	{%- endfor -%}
	{%- for item in collections.translations[translationKey] -%}
	{% if item.language === site.defaultLanguage %}
	<link rel="alternate" hreflang="x-default" href="{{ item.url }}">
	{% endif %}
	{%- endfor -%}
	<meta name="description" content="{{ description | default(site.languages[locale].description) }}">
	<meta name="color-scheme" content="light dark">
</head>
<body>
	{% include "partials/language-switcher.njk" %}
	<header>
		<div>
			<a href="{{ permalink }}">{{ site.title }}</a>
		</div>
	</header>
	{% block content %}
		<main>
			<h1>a pleasant view</h1>
			<p>No content found.</p>
			<p>Site languages:</p>
			<ul>
				<li><a href="/en/">English</a></li>
				<li><a href="/nl/">Nederlands</a></li>
				<li><a href="/fr/">Français</a></li>
			</ul>
		</main>
	{% endblock %}
	<footer>
		<div>
			<small>
				&copy; a pleasant view 2024
			</small>
			<br>
			{# {{ site.i18n | inspect }} #}
		</div>
	</footer>
</body>
</html>
