---
permalink: /nl/
title: Website abonnementen
translationKey: homepage
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div>
			<h1>Een maandelijks abonnement voor al uw website taken.</h1>
			<p><strong>Inclusief</strong><br> ontwerp • ontwikkeling • inhoudsupdates • onderhoud • technische ondersteuning</p>
			<div>
				<p>Start vandaag nog met uw website project.</p>
				<a href="mailto:hello@apleasantview.com">Vraag meer informatie aan per email</a>
		</div>
	</section>
	<section>
		<div>
			<h2>Hoe het werkt</h2>
			<dl>
				<div>
					<dt>Plan uw projectgesprek</dt>
					<dd>We bespreken uw wensen en hoe we daar het beste op kunnen inspelen.</dd>
				</div>
				<div>
					<dt>Activeer uw abonnement</dt>
					<dd>Ontvang een projectoverzicht en een betaallink om uw abonnement te activeren.	</dd>
				</div>
				<div>
					<dt>Krijg toegang tot uw projectbord</dt>
					<dd>Dien verzoeken in en houd de voortgang bij op uw persoonlijke projectbord.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<h2>Lean en flexibel</h2>
			<p>Geniet van een gestroomlijnde workflow die zich aanpast aan uw tempo en deadlines, geleid door best practices uit de branche.</p>
			<p>We gebruiken projectborden op Trello om uw project te beheren.</p>
			<dl>
				<div>
					<dt>Project management</dt>
					<dd>Bekijk actieve, in de wachtrij geplaatste en voltooide verzoeken op uw projectbord.</dd>
				</div>
				<div>
					<dt>Asynchrone communicatie</dt>
					<dd>Stuur al uw verzoeken en feedback naar het projectbord en maak uw inbox vrij.</dd>
				</div>
				<div>
					<dt>Teamsamenwerking</dt>
					<dd>Nodig uw hele team uit, zodat iedereen verzoeken kan indienen en de voortgang kan volgen.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<h2>Voordelen van uw lidmaatschap</h2>
			<dl>
				<div>
					<dt>Projectbord</dt>
					<dd>Voeg zoveel verzoeken aan uw persoonlijke bord toe.</dd>
				</div>
				<div>
					<dt>Continue websiteservice</dt>
					<dd>Ontwerpverfijningen en ontwikkeling van functies à gogo.</dd>
				</div>
				<div>
					<dt>Vast maandtarief</dt>
					<dd>Geen verrassingen: elke maand hetzelfde vaste tarief.</dd>
				</div>
				<div>
					<dt>Doeltreffend partnerschap</dt>
					<dd>Wij zetten ons in voor uw succes op de lange termijn en bieden begeleiding gedurende het hele proces.</dd>
				</div>
				<div>
					<dt>Flexibel en schaalbaar</dt>
					<dd>Downgrade of annuleer uw abonnement op elk gewenst moment.</dd>
				</div>
				<div>
					<dt>Kwaliteitsborging</dt>
					<dd>Wij besteden de uiterste zorg aan het bieden van duurzame ontwerpen en technische oplossingen.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<p>Wij geven prioriteit aan kwaliteit boven kwantiteit en bedienen op elk moment een beperkt aantal klanten.</p>
			<a href="mailto:hello@apleasantview.com">Get in touch now.</a>
		</div>
	</section>
{% endblock %}
