---
locale: en
permalink: /
title: Website subscriptions
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div>
			<h1>A monthly subscription plan for all your website related tasks.</h1>
			<p><strong>Includes</strong><br> design • development • content updates • maintenance • technical support</p>
			<a href="mailto:hello@apleasantview.com">Request more information by email.</a>
		</div>
	</section>
	<section>
		<div>
			<h2>Start your website project today</h2>
			<dl>
				<div>
					<dt>Schedule your project call</dt>
					<dd>We'll discuss your needs and how we can accommodate them.</dd>
				</div>
				<div>
					<dt>Activate your subscription</dt>
					<dd>Receive a project brief and a payment link to activate your subscription.</dd>
				</div>
				<div>
					<dt>Follow your project</dt>
					<dd>Get access to your personal project board and track progress.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<h2>Lean and flexible</h2>
			<p>Enjoy a lean and flexible work process that adapts to your own pace and deadlines. Based on industry best practices.</p>
			<p>We use project boards on Trello to manage your project.</p>
		</div>
		<div>
			<dl>
				<div>
					<dt>Project management</dt>
					<dd>View active, queued and completed requests on your project board.</dd>
				</div>
				<div>
					<dt>Async communication</dt>
					<dd>Send in all your requests and feedback on the project board and free your inbox.</dd>
				</div>
				<div>
					<dt>Team collaboration</dt>
					<dd>Invite your whole team, so anyone can submit requests and track progress.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<a href="mailto:hello@apleasantview.com">Get in touch now.</a>
		</div>
	</section>
{% endblock %}
