---
locale: en
permalink: /
title: Website subscriptions
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div>
			<h1>A monthly subscription plan for all your website related tasks.</h1>
			<p><strong>Includes</strong><br> design • development • content updates • maintenance • technical support</p>
			<a href="mailto:hello@apleasantview.com">Request more information by email.</a>
		</div>
	</section>
	<section>
		<div>
			<h2>Start your website project today</h2>
			<dl>
				<div>
					<dt>Schedule your project call</dt>
					<dd>We'll discuss your needs and how we can accomodate them.</dd>
				</div>
				<div>
					<dt>Activate your subscription</dt>
					<dd>Receive a project brief and a payment link to activate your subscription.</dd>
				</div>
				<div>
					<dt>Follow your project</dt>
					<dd>Get access to your personal project board and track progress.</dd>
				</div>
			</dl>
		</div>
	</section>
{% endblock %}
