---
permalink: /{{ locale }}/sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all -%}
  {% if item.data.locale === locale %}
  <url>
    <loc>{{ item.url | htmlBaseUrl(site.baseURL) }}</loc>
    <lastmod>{{ item.page.date | dateISO }}</lastmod>
    {%- for link in collections.translations[item.data.translationKey] %}
    <xhtml:link
                rel="alternate"
                hreflang="{{ link.language }}"
                href="{{ link.url | htmlBaseUrl(site.baseURL) }}"
                />
    {%- endfor %}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
