---
date: Last Modified
locale: en
permalink: /
title: Website subscriptions
translationKey: homepage
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div>
			<h1>A monthly subscription plan for all your website related tasks.</h1>
			<p><strong>Includes</strong><br> design • development • content updates • maintenance • technical support</p>
			<div>
				<p>Start your website project today.</p>
				<a href="mailto:hello@apleasantview.com">Request more information by email.</a>
			</div>
		</div>
	</section>
	<section>
		<div>
			<h2>How it works</h2>
			<dl>
				<div>
					<dt>Schedule your project call</dt>
					<dd>We'll discuss your needs and how we can best accommodate them.</dd>
				</div>
				<div>
					<dt>Activate your subscription</dt>
					<dd>Receive a project brief and a payment link to activate your subscription.</dd>
				</div>
				<div>
					<dt>Access your project board</dt>
					<dd>Submit requests and track progress on your personal project board.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<h2>Lean and flexible</h2>
			<p>Enjoy a streamlined workflow that adapts to your pace and deadlines, guided by industry best practices.</p>
			<p>We use project boards on Trello to manage your project.</p>
			<dl>
				<div>
					<dt>Project management</dt>
					<dd>View active, queued and completed requests on your project board.</dd>
				</div>
				<div>
					<dt>Async communication</dt>
					<dd>Send in all your requests and feedback on the project board and free your inbox.</dd>
				</div>
				<div>
					<dt>Team collaboration</dt>
					<dd>Invite your whole team, so anyone can submit requests and track progress.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<h2>Membership benefits</h2>
			<dl>
				<div>
					<dt>Project board</dt>
					<dd>Add as many requests to your personal board as you'd like.</dd>
				</div>
				<div>
					<dt>Continuous website service</dt>
					<dd>Design refinements and feature development à gogo.</dd>
				</div>
				<div>
					<dt>Fixed monthly rate</dt>
					<dd>No surprises &mdash; The same fixed rate every month.</dd>
				</div>
				<div>
					<dt>Effective partnership</dt>
					<dd>We are commited to your long-term succes and provide guidance throughout.</dd>
				</div>
				<div>
					<dt>Flexible and scalable</dt>
					<dd>Downgrade or cancel your subscription anytime.</dd>
				</div>
				<div>
					<dt>Quality assurance</dt>
					<dd>We take utmost care to provide sustainable design and technical solutions.</dd>
				</div>
			</dl>
		</div>
	</section>
	<section>
		<div>
			<p>We prioritize quality over quantity, serving a limited number of clients at any time.</p>
			<a href="mailto:hello@apleasantview.com">Get in touch now.</a>
		</div>
	</section>
{% endblock %}
