---
permalink: /
title: Website services
description: All your website related tasks taken care off.
language: en
translationKey: homepage
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div class="u-wrapper">
			<h1>a pleasant view</h1>
			<p><strong>website design • website development • content updates • maintenance • technical support</strong></p>
			<p>Start your website project today.</p>
			<div>
				<p>We prioritize quality over quantity, serving a limited number of clients at any time.</p>
				<a href="mailto:hello@apleasantview.com">Request more information by email.</a>
			</div>
		</div>
	</section>
{% endblock %}
