---
permalink: /robots.txt
baselineExcludeFromGraph: true
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow:

Content-Signal: search=yes, ai-input=yes, ai-train=no

Sitemap: https://www.apleasantview.com/sitemap.xml
Schemamap: https://www.apleasantview.com/schemamap.xml
