---
permalink: /
title: Website services
description: All your website related tasks taken care off.
language: en
translationKey: homepage
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div class="u-wrapper">
			<p>Start your digital project today.</p>
			<p>We provide digital services to businesses and agencies in Amsterdan West and the Jordaan.</p>
			<div>
				<a href="mailto:hello@apleasantview.com">Request more information by email.</a>
			</div>
		</div>
	</section>
{% endblock %}
