---
permalink: /nl/
title: Website design en ontwikkeling
description: Alles voor uw website te laten maken en overige website taken.
translationKey: homepage
---
{% extends "layouts/base.njk" %}

{% block content %}
	<section>
		<div class="u-wrapper">
			<h1>a pleasant view</h1>
			<p><strong>website ontwerp • website ontwikkeling • inhoudsupdates • onderhoud • technische ondersteuning</strong></p>
			<p>Start vandaag nog met uw website project.</p>
			<div>
				<p>Wij geven prioriteit aan kwaliteit boven kwantiteit en bedienen op elk moment een beperkt aantal klanten.</p>
				<a href="mailto:hello@apleasantview.com">Vraag meer informatie aan per email.</a>
		</div>
	</section>
{% endblock %}
