<footer>
	<div class="footer__inner u-wrapper">
		<div class="footer__group">
			{% include "components/c-nav-footer.njk" %}
			{% include "components/c-nav-socials.njk" %}
		</div>
		<div class="footer__credits">
			<span><strong>{{ "services" | translate }}</strong></span>
			<br />
			<small> &copy; a pleasant view - 2026 | {{ "KvK" | translate }}: 60532955 </small>
			<br />
		</div>
	</div>
</footer>
