<footer>
	<div class="u-wrapper">
		<p><strong>{{ "services" | translate }}</strong></p>
		<p>{{ "footer" | translate }}</p>
		<small>
			&copy; a pleasant view - 2026 | {{ "KvK" | translate }}: 60532955
		</small>
		<br>
	</div>
	</footer>
