<header>
	<div class="header__inner u-wrapper">
		<div class="header__group">
			{% include "components/c-logo--header.njk" %}
		</div>
		<div class="header__group">
			{% include "components/c-nav-site.njk" %}
			{% include "components/c-language-switcher.njk" %}
		</div>
	</div>
</header>
